.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Abel', sans-serif;
  color: #ffffff;
}

/* h1 {
  text-transform: uppercase;
  margin-top: 30px;
} */

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* ------------------------------------------MEMBERS LIST --------------------------------- */
.members-container {
  display: flex;
  flex-direction: column;
}

.members-container .card {
  width: 300px;
  margin-block: 20px;
  color: white;
  background-color: #282c34;
  margin-inline: auto;
  align-items: center;
}

.members-container .card-text {
  padding-top: 15px;
  font-size: 20px;
}

/* ------------------------------------------MEMBERS Details --------------------------------- */
.member-container {
  width: 40vw;
  margin-inline: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.member-container .card {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #282c34;
}

.member-container .col-md-8 {
  text-align: start;
  font-size: 30px;
  background-color: #282c34;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
}

.member-container .card-text {
  margin-block: 40px;
}

.member-container .wikiLink {
  border: solid 1px black;
  padding-block: 7px;
  padding-inline: 14px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #282c34;
  color: white;
  font-size: bold;
}

/* ------------------------------------------Articles --------------------------------- */

.articles-container {
  width: 30%;
  margin: 0 auto;
}

.articles-container .card {
  margin-bottom: 20px;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
}

.articles-container .card-header {
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: #282c34;
}

.articles-container .card-body {
  padding: 10px;
}

.articles-container .card-title {
  font-size: 18px;
  margin-bottom: 0;
  color: white;
}

.articles-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* ------------------------------------------Articles Details--------------------------------- */

/* .article-details {
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
}

.article-details .card-header {
  font-size: 24px;
  padding: 10px;
  background-color: #282c34;
}

.article-details .card-body {
  padding: 10px;
}

.article-details .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-details .card-text {
  font-size: 20px;
  margin-bottom: 10px;
}
*/
body {
  background-color: #000000;
}

/* .article-details .btn {
  margin-block: 20px;
  background-color: white;
  color: #282c34;
  border: none;
  font-weight: bold;
} */

/* ------------------------------questions----------------------------------- */
.Question {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40vw;
}

.Question h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.Question form {
  margin-bottom: 10px;
}

.Question label {
  display: block;
  margin-bottom: 10px;
  width: 40vw;
}

.Question input[type='radio'] {
  margin-right: 5px;
}

.Question button {
  padding: 8px 16px;
  color: #fff;
  background-color: #282c34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Question p {
  margin-top: 10px;
}

.Quiz #text {
  color: white;
}

.Quiz .answers {
  display: flex;
  justify-content: space-evenly;
  margin-block: 40px;
}

.Quiz .error-message {
  color: rgb(202, 89, 28);
}