.img-rocket-details {
  float: left;
  margin: 50px 0px 0px 25px;
  border-radius: 30px;
  width: 700px;
  height: 504px;
}

.td-float-r {
  float: right;
}

tr {
  font-size: 40px;
  border-bottom: 1px solid;
}

table {
  width: 750px;
}

#overview {
  float: right;
  margin: -15px 25px 0px 0px;
}

.td-float-l{
  text-align: initial;
}

#description{
  margin-bottom: 600px;
}
