.conteiner.div-rocket {
  width: 480px;
  height: 600px;
  display: inline-block;
  margin: 60px 100px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition:
  height 0.5s,
  width 0.5s,
  box-shadow 0.3s;
}

.conteiner.div-rocket:hover {
  width: 500px;
  height: 620px;
  box-shadow: 0 0 25px rgb(255, 255, 255);

}

.img_rocket {
  /* width: 480px; */
  width: max-content;
  height: 360px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

img.img_rocket {
  width: -webkit-fill-available;
}

h2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

h4 {
  color: black;
}

#logo-wiki {
  width: 50px;
  margin-bottom: 10px;
}

